@{
    ViewBag.Title = "About this Project";
}
<h2>@ViewBag.Title.</h2>

<p>This is a sample project to demonstrate how to write database migration scripts using <a href="https://dbup.github.io/">DbUp</a></p>
