@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DbUp Database Migrations</h1>
    <p class="lead">Use database migrations in your project, with <a href="https://dbup.github.io/">DbUp</a></p>
    <p><a href="https://counihan.co.za/blog/Database-Migrations-with-DbUp/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>